/*-- scss:defaults --*/

// Color Definitions
$brown: #8B5E3A;
$yellow: #FFDE15;
$green-1: #C0D13A;
$green-2: #94AA3B;
$green-3: #4B7838;
$green-4: #305B2C;
$blue-1: #66CAD3;
$blue-2: #09A7C9;
$blue-3: #197FC2;
$cream: #F4F3EE;
$charcoal: #222222;
$black: #000000;

// Define Defaults
$body-bg: $charcoal;
$body-color: $cream;
$link-color: $blue-1;

/*-- scss:rules --*/

// Quick refs for core palette
.brown { color: $brown; }
.yellow { color: $yellow; }
.dark-blue { color: $blue-3; }
.light-blue { color: $blue-1; }
.dark-green { color: $green-4; }
.light-green { color: $green-2; }

//Underline URLs
.reveal .slide a { text-decoration: underline; }
